<div class="animated fadeIn jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Abous Us</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et est mollis, gravida tellus sit amet, fermentum diam. Donec eu ultricies orci. Aenean ipsum justo, ultricies ut massa vitae, semper finibus lectus. Vestibulum sit amet nibh eu nisl lobortis gravida non sed lectus. Pellentesque ut magna vel est lobortis aliquet a sit amet ligula. Cras sit amet suscipit dolor, lobortis semper felis. Phasellus facilisis eros placerat eros ultrices auctor. Vivamus scelerisque feugiat gravida. Fusce dictum ex sapien, et ultrices magna consequat ac. Donec eleifend porttitor erat, non dapibus ex pretium auctor. Nulla pretium erat sem, eu faucibus risus suscipit id.</p>
    </div>
  </div>